<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/interApp.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
<!--        <file>./logs/tools-inspector.log</file>-->
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
       <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="com.microfocus" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>