<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Init page</title>
</head>
<body>
    <h1>Welcome to interApp!</h1>
    <h2>News letter registration</h2>
    <form action="http://localhost:8080/registeredUsers">
        <input type="submit" value="Show registered users"/>
    </form>
    <form action="http://localhost:8080/createUser">
        <input type="submit" value="Register"/>
    </form>

    <h2>Tasks</h2>
    <form action="http://localhost:8080/createTask">
        <input type="submit" value="Create a task"/>
    </form>
    <form action="http://localhost:8080/listTasks">
        <input type="submit" value="Show existing tasks"/>
    </form>



</body>
</html>